<launch>
  <arg name="world_file" default="worlds/willowgarage.world"/>  <!-- Want to specifically use a world file instead of using $(env TURTLEBOT_GAZEBO_WORLD_FILE) -->
  <arg name="RVIZ_CONF" default="turtlebot_exploration.rviz"/>

  <!--  Environment variable "TURTLEBOT_GAZEBO_WORLD_FILE" is overridden by world_file variable -->
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    <arg name="world_file" value="$(arg world_file)"/>
  </include>

  <!-- Move base -->
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml" />

  <include file="$(find turtlebot_gazebo)/launch/gmapping_demo.launch" />

  <include file="$(find turtlebot_samples)/launch/exploration.launch" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_samples)/launch/$(arg RVIZ_CONF)"/>

</launch>
