<launch>
  <arg name="RVIZ_CONF" default="$(find turtlebot_samples)/launch/turtlebot_exploration.rviz"/>

  <!-- Move base -->
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml" />

  <include file="$(find turtlebot_samples)/launch/exploration.launch" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg RVIZ_CONF)" />

</launch>
