<launch>
  <arg name="RVIZ_CONF" default="$(find turtlebot_samples)/launch/turtlebot_exploration.rviz"/>
  <arg name="world_file" default="worlds/willowgarage.world"/>  <!-- Want to specifically use a world file instead of using $(env TURTLEBOT_GAZEBO_WORLD_FILE) -->

  <!--  Environment variable "TURTLEBOT_GAZEBO_WORLD_FILE" is overridden by world_file variable -->
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    <arg name="world_file" value="$(arg world_file)"/>
  </include>

  <include file="$(find turtlebot_gazebo)/launch/gmapping_demo.launch" />

  <include file="$(find turtlebot_samples)/launch/exploration_all.launch">
    <arg name="RVIZ_CONF" value="$(arg RVIZ_CONF)"/>
  </include>

</launch>
